BTS.SiCEP.Biometria.Huellas/Connected Services/BiometriaBusquedaServicio/BiometriaServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonaInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identificado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ano" type="xs:short" />
      <xs:element minOccurs="0" name="cereso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:short" />
      <xs:element minOccurs="0" name="folio" type="xs:long" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="municipio" type="xs:short" />
      <xs:element minOccurs="0" name="num_ingreso" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaInfo" nillable="true" type="tns:PersonaInfo" />
</xs:schema>