BTS.SiCEP.Biometria.Huellas/Connected Services/BiometriaBusquedaServicio/BiometriaServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57254/BiometriaServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" />
  <xs:element name="BuscarHuella">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagenBase64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBusqueda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHuellaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" minOccurs="0" name="BuscarHuellaResult" nillable="true" type="q1:PersonaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFacial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagenBase64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBusqueda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFacialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" minOccurs="0" name="BuscarFacialResult" nillable="true" type="q2:PersonaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarIris">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagenBase64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBusqueda" type="xs:int" />
        <xs:element minOccurs="0" name="ojo" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarIrisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" minOccurs="0" name="BuscarIrisResult" nillable="true" type="q3:PersonaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVoz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vozBase64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBusqueda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVozResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" minOccurs="0" name="BuscarVozResult" nillable="true" type="q4:PersonaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>