BTS.SiCEP.Biometria.Huellas/Connected Services/BiometriaBusquedaServicio/BiometriaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BiometriaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57254/BiometriaServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57254/BiometriaServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57254/BiometriaServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BTS.SICEP.Biometria.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBiometriaServicio_BuscarHuella_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarHuella" />
  </wsdl:message>
  <wsdl:message name="IBiometriaServicio_BuscarHuella_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarHuellaResponse" />
  </wsdl:message>
  <wsdl:message name="IBiometriaServicio_BuscarFacial_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFacial" />
  </wsdl:message>
  <wsdl:message name="IBiometriaServicio_BuscarFacial_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFacialResponse" />
  </wsdl:message>
  <wsdl:message name="IBiometriaServicio_BuscarIris_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarIris" />
  </wsdl:message>
  <wsdl:message name="IBiometriaServicio_BuscarIris_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarIrisResponse" />
  </wsdl:message>
  <wsdl:message name="IBiometriaServicio_BuscarVoz_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVoz" />
  </wsdl:message>
  <wsdl:message name="IBiometriaServicio_BuscarVoz_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVozResponse" />
  </wsdl:message>
  <wsdl:portType name="IBiometriaServicio">
    <wsdl:operation name="BuscarHuella">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarHuella" message="tns:IBiometriaServicio_BuscarHuella_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarHuellaResponse" message="tns:IBiometriaServicio_BuscarHuella_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFacial">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarFacial" message="tns:IBiometriaServicio_BuscarFacial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarFacialResponse" message="tns:IBiometriaServicio_BuscarFacial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarIris">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarIris" message="tns:IBiometriaServicio_BuscarIris_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarIrisResponse" message="tns:IBiometriaServicio_BuscarIris_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVoz">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarVoz" message="tns:IBiometriaServicio_BuscarVoz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiometriaServicio/BuscarVozResponse" message="tns:IBiometriaServicio_BuscarVoz_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBiometriaServicio" type="tns:IBiometriaServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarHuella">
      <soap:operation soapAction="http://tempuri.org/IBiometriaServicio/BuscarHuella" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFacial">
      <soap:operation soapAction="http://tempuri.org/IBiometriaServicio/BuscarFacial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarIris">
      <soap:operation soapAction="http://tempuri.org/IBiometriaServicio/BuscarIris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVoz">
      <soap:operation soapAction="http://tempuri.org/IBiometriaServicio/BuscarVoz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BiometriaServicio">
    <wsdl:port name="BasicHttpBinding_IBiometriaServicio" binding="tns:BasicHttpBinding_IBiometriaServicio">
      <soap:address location="http://localhost:57254/BiometriaServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>